.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  width: 100%;
  padding-left: var(--container-margin);
  padding-right: var(--container-margin);
}

.mainContent {
  flex: 1;
  width: 100%;
  max-width: var(--max-content-width);
  padding-top: var(--content-padding);
  margin-left: calc(var(--sidebar-width) + var(--column-gutter));
  margin-right: var(--column-gutter);
  min-width: 0;
}

.accessibilityColumn {
  width: var(--accessibility-width);
  flex-shrink: 0;
  padding-top: var(--content-padding);
}

/* Tablet and below: hide accessibility column */
@media (max-width: 1200px) {
  .accessibilityColumn {
    display: none;
  }

  .mainContent {
    margin-right: 0;
  }
}

/* Mobile: adjust layout */
@media (max-width: 768px) {
  .contentWrapper {
    padding-left: var(--container-margin);
    padding-right: var(--container-margin);
  }

  .mainContent {
    margin-left: 0;
    padding: var(--content-padding);
  }
}

/* Small mobile: reduce margins */
@media (max-width: 400px) {
  .contentWrapper {
    padding-left: var(--container-margin-mobile);
    padding-right: var(--container-margin-mobile);
  }
}
